// @use 'variables' as v;

html {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
}

html,
body {
    height: 100%;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    line-height: 1.5;
    margin: 0;
    padding: 1em;
}
