@use 'variables' as v;

:host {
    display: block;
    margin-top: 5vh;
    width: 30rem;
}

h2 {
    text-align: center;
}

form {
    border: 1px solid v.$gray;
    border-radius: v.$radius;
    column-gap: 1em;
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 2em;
    padding: 1em;
}

.feedback {
    color: v.$green;
    grid-column: 1 / -1;
    margin-bottom: 1em;

    &.red {
        color: v.$red;
    }
}

.hints {
    color: v.$red;
    font-size: smaller;
    grid-column: 1 / -1;
    min-height: 1.5 * 0.875rem;
}

footer {
    display: flex;
    grid-column: 1 / -1;
    justify-content: space-between;
    padding-top: 1em;
}
