<h2>Sign up!</h2>

<form [formGroup]="form" (ngSubmit)="formSubmit.emit(form.value)">
    <label for="firstName">
        First name:
    </label>
    <input type="text" id="firstName" class="first-name" formControlName="firstName" required />

    <label for="lastName">
        Last name:
    </label>
    <input type="text" id="lastName" class="last-name" formControlName="lastName" required />

    <label for="email">
        Email:
    </label>
    <input type="email" id="email" class="email-name" formControlName="email" required />

    <label for="password">
        Password:
    </label>
    <input type="password" id="password" class="password" formControlName="password" required />

    <label for="paswordConfirmation">
        Password confirmation:
    </label>
    <input
        type="password"
        id="passwordConfirmation"
        class="password-confirmation"
        formControlName="passwordConfirmation"
        required
    />

    <footer>
        <button type="reset">Reset</button>
        <button type="submit">Sign Up!</button>
    </footer>
</form>

<hr />
<pre>form: {{ form.value | json }}</pre>
